- @hashtags.each do |tag|
  %h5
    = link_to "##{tag.text}", tag
  %hr
  - tag.bookmarks.each do |link|
    = link_to link.url, link.url
    = render partial: 'favorites/favorite', locals: { bookmark: link }
    %hr

