- @hashtags.each do |tag|
  = link_to "##{tag.text}", tag
  %ul
  - tag.bookmarks.each do |link|
    %li 
      = link_to link.url, link.url
      = render partial: 'favorites/favorite', locals: { bookmark: link }
    
