%h2
  Blocmarks
%hr
%p
.media.media-body
  - @bookmarks.not_own_by(current_user).each do |bookmark|
    %h5.media-heading
      = link_to bookmark.url, bookmark.url
      = render partial: 'favorites/favorite', locals: { bookmark: bookmark }
      %br
      = render partial: 'bookmarks/display_hashtag', locals: { bookmark: bookmark }
      %br
      = render partial: 'bookmarks/status', locals: { bookmark: bookmark }
      %hr

