- if liked = current_user.liked(bookmark)
  = link_to 'Unlike', [bookmark, liked], method: :delete, class: 'btn btn-default btn-sm'
- else
  = link_to 'Like', [bookmark, Favorite.new], method: :post, class: 'btn btn-default btn-sm'
