Hi #{@name},
\
Thank you for your interest in managing your bookmarks with Blocmarks.
\
You need to sign up first before bookmarking your favorite links. Please click #{new_user_registration_url} to sign up.
