@import "bootstrap";

span.hashtag {
  margin-right: 5px;
}

.user-info a {
   margin-top: 7px;
   margin-right: 7px;
}

.edit-user {
  border-style: solid;
  border-width: 1px;
  margin-right: 1px;
}
